@import "tailwindcss";

@theme {
  --color-gray-50: #f9f9f9;
  --color-gray-100: #f2f2f2;
  --color-gray-200: #e9e9e9;
  --color-gray-300: #d9d9d9;
  --color-gray-400: #b6b6b6;
  --color-gray-500: #969696;
  --color-gray-600: #6d6d6d;
  --color-gray-700: #2f3339;
  --color-gray-800: #282b2f;
  --color-gray-900: #1b1b1b;

  --font-heading: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  --font-body: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-mono: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
}

:root {
  --accent: 124, 58, 237;
  --accent-gradient: linear-gradient(
    45deg,
    rgb(var(--accent)),
    #da62c4 30%,
    white 60%
  );
}

html {
  background-color: var(--color-gray-900);
  color: white;
}
